@use "./absracts" as *;
@font-face {
    font-family: "Rubik";
    src: url("fonts/rubik-bold.woff2") format("woff2"), url("fonts/rubik-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Rubik";
    src: url("fonts/rubik-medium.woff2") format("woff2"), url("fonts/rubik-medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Rubik";
    src: url("fonts/rubik-regular.woff2") format("woff2"), url("fonts/rubik-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font: 400 112.5%/1 "Rubik", sans-serif;
    @include respond(960px) {
        font-size: 100%;
    }
}

body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.heading-1 {
    text-align: center;
    font-size: 1.5rem;
    color: $color-white;
    margin-bottom: 1.5rem;
}

.heading-2 {
    font-size: 0.75rem;
    font-weight: 500;
    text-transform: uppercase;
    color: $color-grey;
    margin-bottom: 0.5rem;
    @include respond(768px) {
        margin-bottom: 0;
    }
}

.heading-3 {
    font-size: 1.25rem;
    grid-column: 1 / span 2;
}

.button {
    outline: none;
    font-family: "Rubik", sans-serif;
    padding: 0.75em 1.5em;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    border-radius: 1.5em;
    font-size: 0.75rem;
    &--fill {
        border: none;
        background-color: $color-black;
        color: $color-white;
        transition: background-color 0.25s ease;
        &:hover {
            background-color: darken($color-black, 10%);
        }
    }
    &--outline {
        border: 2px solid $color-black;
        background-color: $color-white;
        color: $color-black;
        transition: background-color 0.25s ease;
        &:hover {
            background-color: darken($color-white, 10%);
        }
    }
}