@use "./absracts" as *;
.result {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    background-color: $color-white;
    border-radius: 1rem;
    width: 75vw;
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0;
    box-shadow: 0 0.5rem 2rem rgba($color-black, 0.25);
    &__group {
        padding: 0 1.5rem;
        flex: 0 0 25%;
        &:not(:last-child) {
            border-right: 2px solid rgba($color-grey, 0.5);
        }
    }
    &__output {
        font-size: 1.25rem;
        line-height: 1.5;
        font-weight: 500;
    }
}

.input-group {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    z-index: 1;
    transition: margin-bottom 0.25s ease;
    display: flex;
    align-items: stretch;
    &__input {
        font: 400 112.5%/1 "Rubik", sans-serif;
        background-color: $color-white;
        padding: 0.75em;
        outline: none;
        border: none;
        width: 100%;
        transition: background-color 0.25s ease;
        &:focus,
        &:hover {
            background-color: darken($color-white, 5%);
        }
        &::placeholder {
            color: $color-grey;
        }
    }
    &__button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-black;
        width: 3.5rem;
        outline: none;
        border: none;
        cursor: pointer;
        transition: background-color 0.25s ease;
        &:hover {
            background-color: darken($color-black, 10%);
        }
    }
    &__button-arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
        transition: all 0.5s ease;
        &--loading {
            opacity: 0;
            transform: translate(-50%, -50%) scale(0);
        }
    }
    &__error {
        font-size: 0.75rem;
        position: absolute;
        width: 100%;
        z-index: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        background-color: $color-red;
        color: $color-white;
        padding: 2em 0.5em 0.5em;
        border-radius: 0.5rem;
        transition: bottom 0.25s ease, opacity 0.25s ease;
    }
    &--error {
        margin-bottom: 1.875rem;
    }
    &--error+&__error {
        bottom: -1.375rem;
        opacity: 1;
    }
}

.search-form {
    position: relative;
    margin-bottom: 0.5rem;
}

.ownIP {
    font-size: 0.75rem;
    padding: 0.5em 1em;
    background-color: $color-black;
    color: $color-white;
    border-radius: 1em;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.25s ease, transform 0.25s ease;
    &:hover {
        transform: scale(1.05);
        background-color: darken($color-black, 10%);
    }
}

.loader {
    position: relative;
    display: block;
    width: 2rem;
    height: 2rem;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s ease;
    pointer-events: none;
    &__circle {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 4px solid $color-white;
        animation: loader-animation 1.2s ease infinite backwards;
        &--1 {
            animation-delay: 0s;
        }
        &--2 {
            animation-delay: 0.4s;
        }
    }
    &--loading {
        opacity: 1;
        transform: scale(1);
    }
}

.map {
    &__marker {
        height: 3rem;
    }
}

// .location-permission {
//     background-color: $color-white;
//     padding: 2.5rem;
//     border-radius: 1rem;
//     text-align: center;
//     max-width: 20rem;
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     grid-template-rows: repeat(3, min-content);
//     gap: 1rem;
//     &__text {
//         grid-column: 1 / -1;
//         grid-row: 2 / 3;
//         line-height: 1.5;
//     }
// }