@use "./absracts" as *;
.header {
    position: relative;
    background-image: url("../img/pattern-bg.png");
    background-size: cover;
    background-position: center;
}

.form-container {
    width: 75vw;
    max-width: 36rem;
    margin: 3rem auto 0;
    transition: opacity 0.25s ease, max-height 0.75s ease, margin-top 0.75s ease;
    &--inactive {
        margin-top: 0;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
    }
}

.main {
    position: relative;
    flex-grow: 1;
}

.map {
    position: relative;
    flex: 1 0 100%;
    width: 100%;
    min-height: 100%;
}