.header {
    position: relative;
    background-image: url("../img/pattern-bg.png");
    background-size: cover;
    background-position: center;
    padding: 3rem 0 6rem;
}

.form-container {
    width: 40vw;
    margin: 0 auto;
}

.main {
    position: relative;
    background-color: green;
    flex-grow: 1;
}